<div class="show"><h1>Application Form</h1></div>
<form name="application" method="POST">
  <div class="show">First Name:</div>
  <div class="letter"><input id="loansize" type="text" onkeypress=""></div>
  <div class="show">Last Name:</div>
  <div class="letter"><input id="years" type="text" onkeypress="" name="yearsSize"=5></div>
  <div class="show">Address:</div>
  <div class="letter"><input id="interest" type="text" onkeypress="" name="" rateSize=5></div>
  <div class="show">Annual Gross Income:</div>
  <div class="letter"><input id="income" type="text" onkeypress=""></div>
  <div class="show">Fico Score:</div>
  <div class="letter"><input id="ficoScore" type="text" onkeypress="" name="yearsSize"=5></div>
  <div class="show">Bankruptcy</div>
  <div class="letter"><input id="bankruptcy" type="boolean" onkeypress="" name="" rateSize=5></div>
  <input id="approval" type="button" value="Get Approval"></input>
</form>
<div id="terms" class="show" ></div>


<div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Application Form</strong>
                    </h2>
                    <hr>
                    <p><%= form_tag '/loans', method: :post do %>
                    <h6 class="intro-text text-center">
                      <%= label_tag :first_name, "First Name:" %>
                      <%= text_area_tag :first_name %>
                    </h6>
                    <h6 class="intro-text text-center">
                      <%= label_tag :last_name, "Last Name:" %>
                      <%= text_area_tag :last_name %>
                    </h6>
                    <h6 class="intro-text text-center">
                      <%= label_tag :address, "Address:" %>
                      <%= text_area_tag :address %>
                    </h6>
                    <h6 class="intro-text text-center">
                      <%= label_tag :income, "Annual Gross Income:" %>
                      <%= text_area_tag :income %>
                    </h6>
                    
                    <h6 class="intro-text text-center">
                      <%= label_tag :fico_score, "Fico Score:" %>
                      <%= text_area_tag :fico_score %>
                    </h6>
                    
                    <h6 class="intro-text text-center">
                      <%= label_tag :bankruptcy, "Bankruptcy within the last seven years?" %>
                      <%= text_area_tag :bankruptcy %>
                    
                    <h6 class="intro-text text-center">
                      <%= submit_tag "Get approval:" %>
                      
                    </h6>
                      </div>
                    <% end %></p>
                </div>
            </div>
        </div>