<div class="box">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <!-- <hr>
    <h2 class="intro-text text-center">
      <strong class="form-group">Application Form</strong>
    </h2><hr><br> -->
    <%= form_for @application do |f|%>
      <div class="form-group">
        <%= f.label :full_name, "Full Name:" %>
        <%= f.text_field :full_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :address, "Address:" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :income, "Annual Gross Income:" %>
        <%= f.text_field :income, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :fico_score, "Fico Score:" %>
        <%= f.text_field :fico_score, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :down_payment, "Amount Available for Down Payment:" %>
        <%= f.text_field :down_payment, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Bankruptcy within the last seven years?" %></br>
        <%= f.radio_button :bankruptcy, 'true', :value => true %>
        <%= label :bankruptcy, 'Yes' %>
        <%= f.radio_button :bankruptcy, 'false', :value => false %>
        <%= label :bankruptcy, 'No' %>
      </div>

      <div class="form-group">
        <%= f.submit "Get approval:", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>