<% if (@application.bankruptcy == true) || (@application.fico_score < 550) %>
   <div class="show">Your loan has been denied.</div>
<% elsif @application.fico_score > 850 %>
    <div class="show">It's impossible to have a fico score over 850.  Please try again.</div>
    <div class="show"><% link_to "Please try again", "/applications/new" %></div>
<% else %>
  
  <div class="pie-chart">
    <div class="letter">You're approved for a loan of <%= number_to_currency(@application.max_loan(@rates)) %> with a purchase price of <%= number_to_currency(@application.max_purchase) %>.</div>
  <br>

  <% @application.mortgage_payment_30(@rates) %>
  <% @application.mortgage_payment_15(@rates) %>
  <% @application.mortgage_payment_arm(@rates) %>
  <% @application.property_taxes %>
  </div>

  <div class="pie-chart">
    <div class="header">30 Year-Fixed</div>
    <div class="show">Total Monthly Payment: <%= number_to_currency(@application.total_payment_30) %><br>Interest Rate: <%= number_to_percentage(@application.interest_evaluation(@rates, :thiry_year_fixed), precision: 2) %></div>

  <%= pie_chart({"Mortgage Payment: #{number_to_currency(@application.mortgage_payment_30(@rates))}" => @application.mortgage_payment_30(@rates), "Property Taxes: #{number_to_currency(@application.property_taxes)}" => @application.property_taxes, "Insurance: #{number_to_currency(Application::INSURANCE)}" => Application::INSURANCE}, library: {legend: {textStyle: {fontSize: 22}}}) %>
  </div>

  <div class="pie-chart">
    <div class="header">15 Year-Fixed</div>
    <div class="show">Total Monthly Payment: <%= number_to_currency(@application.total_payment_15) %><br>Interest Rate: <%= number_to_percentage(@application.interest_evaluation(@rates, :fifteen_year_fixed), precision: 2) %></div>
  <%= pie_chart({"Mortgage Payment: #{number_to_currency(@application.mortgage_payment_15(@rates))}" => @application.mortgage_payment_15(@rates), "Property Taxes: #{number_to_currency(@application.property_taxes)}" => @application.property_taxes, "Insurance: #{number_to_currency(Application::INSURANCE)}" => Application::INSURANCE}, library: {legend: {textStyle: {fontSize: 22}}}) %>
  </div>

  <div class="pie-chart">
    <div class="header">5/1 ARM</div>
    <div class="show">Monthly Total Monthly Payment: <%= number_to_currency(@application.total_payment_arm) %><br>Interest Rate: <%= number_to_percentage(@application.interest_evaluation(@rates, :five_one_arm), precision: 2) %></div>
  <%= pie_chart({"Mortgage Payment: #{number_to_currency(@application.mortgage_payment_arm(@rates))}" => @application.mortgage_payment_arm(@rates), "Property Taxes: #{number_to_currency(@application.property_taxes)}" => @application.property_taxes, "Insurance: #{number_to_currency(Application::INSURANCE)}" => Application::INSURANCE}, library: {legend: {textStyle: {fontSize: 22}}}) %>
  </div>









<% end %>







