<% if (@application.bankruptcy == true) || (@application.fico_score < 550) %>
   <div class="show">Your loan has been denied.</div>
<% elsif @application.fico_score > 850 %>
    <div class="show">It's impossible to have a fico score over 850.  Please try again.</div>
    <div class="show"><% link_to "Please try again", "/applications/new" %></div>
<% else %>

<div class="show">Congratulations!  Your loan has been approved.</div>

<div class="show">You're approved for a loan of: <%= number_to_currency(@application.max_loan(@rates)) %></div>
<div class="show">You're approved for a purchase price of: <%= number_to_currency(@application.max_purchase) %></div>
<div class="show">Your Interest Rate (30-Year Fixed): <%= number_to_percentage(@application.interest_evaluation(@rates, :thiry_year_fixed), precision: 2) %></div>
<div class="show">Your Interest Rate (15-Year Fixed): <%= number_to_percentage(@application.interest_evaluation(@rates, :fifteen_year_fixed), precision: 2) %></div>
<div class="show">Your Interest Rate (5/1 ARM): <%= number_to_percentage(@application.interest_evaluation(@rates, :five_one_arm), precision: 2) %></div>

<div class="show">Your Monthly Payment (30-Year Fixed): <%= number_to_currency(@application.mortgage_payment_30(@rates)) %></div>
<div class="show">Your Monthly Payment (15-Year Fixed): <%= number_to_currency(@application.mortgage_payment_15(@rates)) %></div>
<div class="show">Your Monthly Payment (5/1 ARM): <%= number_to_currency(@application.mortgage_payment_arm(@rates)) %></div>
<div class="show">Monthly Property Taxes: <%= number_to_currency(@application.property_taxes) %></div>
 <div class="show">Monthly Insurance Costs: <%= number_to_currency(Application::INSURANCE) %></div>

<div class="show">Your Monthly Total Payment (30-Year Fixed):</div>
<%= pie_chart({"Mortgage Payment: #{number_to_currency(@application.mortgage_payment_30(@rates))}" => @application.mortgage_payment_30(@rates), "Property Taxes: #{number_to_currency(@application.property_taxes)}" => @application.property_taxes, "Insurance: #{number_to_currency(Application::INSURANCE)}" => Application::INSURANCE}) %>

<% end %>







