<div class="box">
  <div class="col-md-3"></div>
  
<table>
  <tr>
    <th></th>
    <th><h3>Today's Rates</h3></th>
    <th><h3>Last Week's Rates</h3></th>
  </tr>
  <tr>
    <td class="center"><h4>30 year fixed rate: </h4></td>
    <td><h4><%= number_to_percentage(@rates[:thiry_year_fixed], precision: 2) %></h4></td>
    <td><h4><%= number_to_percentage(@last_week_rates[:thiry_year_fixed], precision: 2) %></h4></td>
  </tr>
  <tr>
    <td class="center"><h4>15 year fixed rate: </h4></td>
    <td><h4><%= number_to_percentage(@rates[:fifteen_year_fixed], precision: 2) %></h4></td>
    <td><h4><%= number_to_percentage(@last_week_rates[:fifteen_year_fixed], precision: 2) %> </h4></td>
  </tr>
  <tr>
    <td class="center"><h4>5/1 ARM: </h4></td>
    <td><h4><%= number_to_percentage(@rates[:five_one_arm], precision: 2) %></h4></td>
    <td><h4><%= number_to_percentage(@last_week_rates[:five_one_arm], precision: 2) %> </h4></td>
  </tr>
</table>
</div>

<%= bar_chart [
  {
    name: "Today's Rates", 
    data: [["30-Year Fixed", @rates[:thiry_year_fixed]], ["15-Year Fixed", @rates[:fifteen_year_fixed]], ["5/1 ARM", @rates[:five_one_arm]]]
  },
  {
    name: "Last Week's Rates", 
    data: [["30-Year Fixed", @last_week_rates[:thiry_year_fixed]], ["15-Year Fixed", @last_week_rates[:fifteen_year_fixed]], ["5/1 ARM", @last_week_rates[:five_one_arm]]]
  }] %>



